@import url("../assets/fonts/font.css");
html {
  font-family: "Outfit";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: clamp(1rem, 0.8rem + 0.5vw, 2rem);
  color: hsl(30, 10%, 34%);
}
html body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100vw;
  background-color: hsl(30, 54%, 90%);
  margin: 0px;
}
html h1 {
  font-family: "Young Serif", serif;
  font-size: 2.2rem;
  font-weight: 400;
  color: hsl(24, 5%, 18%);
}
html h2 {
  font-family: "Young Serif", serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: hsl(14, 45%, 36%);
}
html b {
  font-weight: 700;
  color: hsl(30, 10%, 34%);
}
html figure {
  margin: 0px;
  width: 100%;
  overflow: hidden;
}
html img {
  block-size: auto;
  max-inline-size: 100%;
}
html ul {
  -webkit-padding-start: 25px;
          padding-inline-start: 25px;
}
html ul li {
  padding: 8px;
}
html ul li::marker {
  color: hsl(14, 45%, 36%);
}
html ol {
  -webkit-padding-start: 25px;
          padding-inline-start: 25px;
}
html ol li {
  padding: 8px;
}
html ol li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

.recipe-box {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 720px;
  border-radius: 1.5%;
}
.recipe-box .recipe-content {
  width: 80%;
  height: 100%;
}
.recipe-box .recipe-content .note {
  background-color: hsl(330, 100%, 98%);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
}
.recipe-box .recipe-content .note .note_title {
  font-size: 1.67rem;
  font-weight: 600;
  color: hsl(332, 51%, 32%);
}
.recipe-box .recipe-content .recipe-section {
  border-bottom: 1px solid hsla(32, 10%, 34%, 0.368);
}
.recipe-box .recipe-content .recipe-section:last-child {
  border-bottom: none;
}
.recipe-box .recipe-content .recipe-section .nut-box {
  list-style: none;
}
.recipe-box .recipe-content .recipe-section .nut-box li.nut-box-item {
  border-bottom: 1px solid hsla(32, 10%, 34%, 0.333);
  padding: 10px;
  width: 80%;
}
.recipe-box .recipe-content .recipe-section .nut-box li.nut-box-item:last-child {
  border-bottom: none;
}
.recipe-box .recipe-content .recipe-section .nut-box li.nut-box-item span {
  width: 40%;
  display: inline-block;
  text-align: left;
  padding-left: 10px;
}
.recipe-box .recipe-content .recipe-section .nut-box li.nut-box-item b {
  color: hsl(14, 45%, 36%);
  width: 50%;
  display: inline-block;
  text-align: left;
}

@media only screen and (min-width: 1440px) {
  html figure {
    width: 90%;
    border-radius: 3.5%;
    margin-top: 5%;
  }
  .recipe-box {
    margin: 10%;
  }
  .recipe-box .recipe-content {
    width: 90%;
  }
}