@font-face {
    font-family:'outfit';
    font-style: normal;
    font-weight: 100;
    src:url("./outfit/static/Outfit-Black.ttf")

}

@font-face {
    font-family:'outfit';
    font-style: normal;
    font-weight: 300;
    src: url("./outfit/static/Outfit-Light.ttf"); 
}

@font-face {
    font-family:'outfit';
    font-style: normal;
    font-weight: 400;
    src: url("./outfit/static/Outfit-Regular.ttf"); 
}

@font-face {
    font-family:'outfit';
    font-style: normal;
    font-weight: 500;
    src: url("./outfit/static/Outfit-Medium.ttf");
}

@font-face {
    font-family:'outfit';
    font-style: normal;
    font-weight: 600;
    src: url("./outfit/static/Outfit-SemiBold.ttf");

}

@font-face {
    font-family:'outfit';
    font-style: normal;
    font-weight: 700;
    src: url("./outfit/static/Outfit-Bold.ttf");
 
}


@font-face {
    font-family:'young-serif';
    font-style: normal;
    font-weight: 400;
    src: url("./young-serif/YoungSerif-Regular.ttf");
    
}